# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore Python bytecode cache directories
__pycache__/
**/__pycache__/


# Ignore audio files
audio/

# Ignore model files
models/

# Ignore visualizations
visualizations/